{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="mainContainerPage">
    <div style="margin-left: 35%;padding-top: 5%;padding-bottom: 10%;">
        <class class="row">
            <class class="col-md-6 p-3 shadow">
                <h2 class="text-success">Payment successful...!</h2><br>
                <h4>Thanks for shopping...! <h5> Visit Again </h5> </h4>
                <br>
                <a href="/product" style="margin-left:30%;"><button class="btn btn-primary" type="submit"> Shop More</button></a>
            </class>
        </class>
    </div>
</div>

{% endblock 'main' %}